@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0a0a;
    --foreground: #ededed;
  }
}

li{
  @apply transition-all ease-in-out  hover:scale-110
}

body {
  box-sizing: border-box;
  color: var(--foreground);
  background-image: url('/images/bg.jpg');
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
